#title{
  text-align: center;
}

.rainbow{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#colorPalette{
  position: relative;
  display: inline-block;
}

#divGrid{
  position: absolute;
  left: 20%;
  border: 1px solid black;
  display: inline-block;
}

#divGrid > div{
}

#divGrid > div > div{
  width: 10px;
  height: 10px;
  border-style:solid;
  border-width:thin;
  border-color: #f2f2f2;
  display: inline-block;
}

#colorPalette > div {
  position: relative;
}

#colorPalette > div > div{
  width:  15px;
  height: 15px;
  display: inline-block;
  border: 0.5px solid black;
}