#title{
  text-align: center;
}

.button:hover{
  font-weight: bold;
}

#saveButton{
  display: block;
}

#resizeButton{
  display: block;
}

.gradient{
  font-size: 57px;
  background-image: linear-gradient(to right,red,orange,yellow, green, blue,indigo,violet);
  color: transparent;
  -webkit-background-clip: text; /*only works for Chrome, Safari, and Opera*/
}

#colorPalette{
  position: relative;
  display: inline-block;
}

#divGrid{
  position: absolute;
  left: 20%;
  border: 1px solid black;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#divGrid > div{
}

#divGrid > div > div{
  width: 10px; /*default 10px*/
  height: 10px; /*default 10px*/
  border-style:solid;
  border-width:thin;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  display: inline-block;
}

#colorPalette > div {
  position: relative;
}

#colorPalette > div > div{
  width:  15px;
  height: 15px;
  display: inline-block;
  border: 0.5px solid black;
}